# Application settings
APP_NAME="MessageBus Lab"
ENVIRONMENT="development"

# RabbitMQ settings (we will use these in Step 4 & 5)
RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"